## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
display(f"attrition_df.nunique's are: ")
print(attrition_df.nunique())
# I'm going to add some other dataframe measures
print(f"dataframe info... {attrition_df.info()}")
print("")
print("--------------------------------------")
print(f"attrition value counts... {attrition_df['Attrition'].value_counts()}")
print("")
print(f"department value counts... {attrition_df['Department'].value_counts()}")
print("")
print(attrition_df.columns)

"attrition_df.nunique's are: "

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EnvironmentSatisfaction   1470 non-null   int64
 8   HourlyRate                1470 non-null   int64
 9   JobInvolvement            1470 non-null   int64
 10  JobLevel                  1470 non-null   int64
 11  JobRole                   1470 non-null   object
 12  JobSatisfaction           1470 non-null   int64
 13  MaritalStatus             1470 non-null   object
 14  NumCompaniesWorked        1470 non-null   int64
 15  OverTime                  1470 non-null   object
 16  PercentSalaryHike         1470 non-null   int64
 17  PerformanceRating         1470 non-null   int64
 18  RelationshipSatisfaction  1470 non-null   int64
 19  StockOptionLevel          1470 non-null   int64
 20  TotalWorkingYears         1470 non-null   int64
 21  TrainingTimesLastYear     1470 non-null   int64
 22  WorkLifeBalance           1470 non-null   int64
 23  YearsAtCompany            1470 non-null   int64
 24  YearsInCurrentRole        1470 non-null   int64
 25  YearsSinceLastPromotion   1470 non-null   int64
 26  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(20), object(7)
memory usage: 310.2+ KB
dataframe info... None

--------------------------------------
attrition value counts... Attrition
No     1233
Yes     237
Name: count, dtype: int64

department value counts... Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
print(f"y_df.head is \n{y_df.head()}")
print(f"y_df[Department] value counts are: \n{y_df['Department'].value_counts()}")

y_df.head is
  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development
y_df[Department] value counts are:
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [4]:

# this is NOT part of main flow of the homework, but I'm going to use it for column selection for X_df
# The following was used to export data for "Pipey" analysis to pick the top features based on several other classifiers.
# Pipey is a Streamlit app that we created in AI project 2.  The output is attached for reference in the temp_data folder. The file is called "Pipey Analysis to Pick the most Important Features.pdf"

df_for_pipey = attrition_df.copy()
df_for_pipey = df_for_pipey.drop(columns=['Department'])
df_for_pipey["Attrition"] = df_for_pipey["Attrition"].map({"Yes": 1, "No": 0})

print("df_for_pipey head")
print(df_for_pipey.head())

df_for_pipey.to_csv('temp_data/df_for_pipey.csv', index=False)

df_for_pipey head
   Age  Attrition     BusinessTravel  DistanceFromHome  Education  \
0   41          1      Travel_Rarely                 1          2
1   49          0  Travel_Frequently                 8          1
2   37          1      Travel_Rarely                 2          2
3   33          0  Travel_Frequently                 3          4
4   27          0      Travel_Rarely                 2          1

  EducationField  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
0  Life Sciences                        2          94               3
1  Life Sciences                        3          61               2
2          Other                        4          92               2
3  Life Sciences                        4          56               3
4        Medical                        1          40               3

   JobLevel  ... PerformanceRating  RelationshipSatisfaction StockOptionLevel  \
0         2  ...                 3                         1                0
1         2  ...                 4                         4                1
2         1  ...                 3                         2                0
3         1  ...                 3                         3                0
4         1  ...                 3                         4                1

   TotalWorkingYears TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                  8                     0                1               6
1                 10                     3                3              10
2                  7                     3                3               0
3                  8                     3                3               8
4                  6                     3                3               2

   YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                   4                        0                     5
1                   7                        1                     7
2                   0                        0                     0
3                   7                        3                     0
4                   2                        2                     2

[5 rows x 26 columns]

In [5]:
# Create a list of at least 10 column names to use as X data
X_columns = ['Age', 'EnvironmentSatisfaction', 'JobLevel', 'JobSatisfaction',
       'NumCompaniesWorked', 'OverTime', 'StockOptionLevel',
       'TotalWorkingYears', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']

# these were selected based on feature importance from using "Pipey", which was our AI project #2. All encoding and scaling was conducted and several models were considered. 
# Pipey Analysis is the PDF file in the Neural_Network_Challege\temp_data folder. I selected 12 columns.

# Create X_df using your selected columns
X_df = attrition_df[X_columns]

# Show the data types for X_df

X_df.dtypes

Age                         int64
EnvironmentSatisfaction     int64
JobLevel                    int64
JobSatisfaction             int64
NumCompaniesWorked          int64
OverTime                   object
StockOptionLevel            int64
TotalWorkingYears           int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [6]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=42)

In [7]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
print("value counts for overtime")
display(X_train['OverTime'].value_counts())
X_train["OverTime"] = X_train["OverTime"].map({"Yes": 1, "No": 0})
X_test["OverTime"] = X_test["OverTime"].map({"Yes": 1, "No": 0})

X_train.head()

value counts for overtime

OverTime
No     780
Yes    322
Name: count, dtype: int64

,Age,EnvironmentSatisfaction,JobLevel,JobSatisfaction,NumCompaniesWorked,OverTime,StockOptionLevel,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1343,29,4,1,1,3,0,0,11,3,2,1,2
1121,36,2,2,3,6,0,0,15,1,0,0,0
1048,34,4,2,1,3,0,0,15,13,9,3,12
1393,27,4,2,4,1,0,0,7,7,7,0,7
527,32,4,2,4,1,0,0,10,10,7,0,8

In [8]:
# Create a StandardScaler
scaler = StandardScaler()
# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
# Create a OneHotEncoder for the Department column
OHE = OneHotEncoder()

# Fit the encoder to the training data
department_encoded_train = OHE.fit_transform(y_train[['Department']])
department_encoded_train_df  = pd.DataFrame(department_encoded_train.toarray(), columns=OHE.get_feature_names_out())
# Create two new variables by applying the encoder

display('for department train...')
display(department_encoded_train_df.head())
# to the training and testing data

department_encoded_test = OHE.fit_transform(y_test[['Department']])
department_encoded_test_df  = pd.DataFrame(department_encoded_test.toarray(), columns=OHE.get_feature_names_out())
# Create two new variables by applying the encoder
print(" -------------------------------------- ")
display('for department test...')
display(department_encoded_test_df.head())

'for department train...'

,Department_Human Resources,Department_Research & Development,Department_Sales
0,0.0,1.0,0.0
1,0.0,0.0,1.0
2,0.0,0.0,1.0
3,0.0,0.0,1.0
4,0.0,0.0,1.0

 --------------------------------------

'for department test...'

,Department_Human Resources,Department_Research & Development,Department_Sales
0,0.0,0.0,1.0
1,0.0,1.0,0.0
2,1.0,0.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0

In [10]:
# Create a OneHotEncoder for the Attrition column
# Fit the encoder to the training data
attrition_encoded_train = OHE.fit_transform(y_train[['Attrition']])
attrition_encoded_train_df  = pd.DataFrame(attrition_encoded_train.toarray(), columns=OHE.get_feature_names_out())

# Create two new variables by applying the encoder
# to the training and testing data
attrition_encoded_test = OHE.transform(y_test[['Attrition']])
attrition_encoded_test_df  = pd.DataFrame(attrition_encoded_test.toarray(), columns=OHE.get_feature_names_out())

display('for Attrition train...')
display(attrition_encoded_train_df.head())
print(" -------------------------------------- ")
display('for Attrition test...')
display(attrition_encoded_test_df.head())

'for Attrition train...'

   Attrition_No  Attrition_Yes
0           1.0            0.0
1           1.0            0.0
2           1.0            0.0
3           1.0            0.0
4           1.0            0.0

 --------------------------------------

'for Attrition test...'

   Attrition_No  Attrition_Yes
0           1.0            0.0
1           1.0            0.0
2           0.0            1.0
3           1.0            0.0
4           1.0            0.0

## Create, Compile, and Train the Model

In [11]:
# Find the number of columns in the X training data
X_train_num_columns = X_train.shape[1]
# Create the input layer
input_layer = layers.Input(shape=(X_train_num_columns,))
# Create at least two shared layers
second_layer = layers.Dense(64, activation='relu')(input_layer)
third_layer = layers.Dense(64, activation='relu')(second_layer)

In [12]:
# Create a branch for Department
# with a hidden layer and an output layer   # Create the hidden layer
forth_layer = layers.Dense(32, activation='relu')(third_layer)
# Create the output layer
department_output = layers.Dense(3, activation='softmax', name='department_output')(forth_layer)

In [13]:
# Create a branch for Attrition
# with a hidden layer and an output layer
# Create the hidden layer
forth_prime_layer = layers.Dense(32, activation='relu')(third_layer)

# Create the output layer
attrition_output = layers.Dense(2, activation='softmax', name='attrition_output')(forth_prime_layer)

In [14]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam', loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'categorical_crossentropy'}, metrics=['accuracy'])

# Summarize the model
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 12)]                 0         []

 dense (Dense)               (None, 64)                   832       ['input_1[0][0]']

 dense_1 (Dense)             (None, 64)                   4160      ['dense[0][0]']

 dense_2 (Dense)             (None, 32)                   2080      ['dense_1[0][0]']

 dense_3 (Dense)             (None, 32)                   2080      ['dense_1[0][0]']

 department_output (Dense)   (None, 3)                    99        ['dense_2[0][0]']

 attrition_output (Dense)    (None, 2)                    66        ['dense_3[0][0]']

==================================================================================================
Total params: 9317 (36.39 KB)
Trainable params: 9317 (36.39 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [15]:
# Train the model
model.fit(X_train_scaled, {'department_output': department_encoded_train_df, 'attrition_output': attrition_encoded_train_df}, epochs=100, shuffle=True, verbose=2, batch_size=10)

Epoch 1/100
111/111 - 1s - loss: 1.3292 - department_output_loss: 0.8690 - attrition_output_loss: 0.4602 - department_output_accuracy: 0.6025 - attrition_output_accuracy: 0.8140 - 942ms/epoch - 8ms/step
Epoch 2/100
111/111 - 0s - loss: 1.1402 - department_output_loss: 0.7609 - attrition_output_loss: 0.3792 - department_output_accuracy: 0.6561 - attrition_output_accuracy: 0.8457 - 86ms/epoch - 778us/step
Epoch 3/100
111/111 - 0s - loss: 1.0933 - department_output_loss: 0.7381 - attrition_output_loss: 0.3552 - department_output_accuracy: 0.6606 - attrition_output_accuracy: 0.8603 - 88ms/epoch - 789us/step
Epoch 4/100
111/111 - 0s - loss: 1.0670 - department_output_loss: 0.7218 - attrition_output_loss: 0.3452 - department_output_accuracy: 0.6642 - attrition_output_accuracy: 0.8557 - 110ms/epoch - 993us/step
Epoch 5/100
111/111 - 0s - loss: 1.0446 - department_output_loss: 0.7092 - attrition_output_loss: 0.3354 - department_output_accuracy: 0.6633 - attrition_output_accuracy: 0.8639 - 94ms/epoch - 842us/step
Epoch 6/100
111/111 - 0s - loss: 1.0094 - department_output_loss: 0.6872 - attrition_output_loss: 0.3222 - department_output_accuracy: 0.6770 - attrition_output_accuracy: 0.8711 - 93ms/epoch - 836us/step
Epoch 7/100
111/111 - 0s - loss: 0.9894 - department_output_loss: 0.6781 - attrition_output_loss: 0.3113 - department_output_accuracy: 0.6869 - attrition_output_accuracy: 0.8666 - 99ms/epoch - 888us/step
Epoch 8/100
111/111 - 0s - loss: 0.9703 - department_output_loss: 0.6675 - attrition_output_loss: 0.3028 - department_output_accuracy: 0.6897 - attrition_output_accuracy: 0.8748 - 99ms/epoch - 893us/step
Epoch 9/100
111/111 - 0s - loss: 0.9483 - department_output_loss: 0.6525 - attrition_output_loss: 0.2958 - department_output_accuracy: 0.7051 - attrition_output_accuracy: 0.8757 - 88ms/epoch - 797us/step
Epoch 10/100
111/111 - 0s - loss: 0.9289 - department_output_loss: 0.6374 - attrition_output_loss: 0.2914 - department_output_accuracy: 0.7051 - attrition_output_accuracy: 0.8820 - 90ms/epoch - 808us/step
Epoch 11/100
111/111 - 0s - loss: 0.9111 - department_output_loss: 0.6301 - attrition_output_loss: 0.2810 - department_output_accuracy: 0.7105 - attrition_output_accuracy: 0.8829 - 87ms/epoch - 788us/step
Epoch 12/100
111/111 - 0s - loss: 0.8897 - department_output_loss: 0.6214 - attrition_output_loss: 0.2683 - department_output_accuracy: 0.7087 - attrition_output_accuracy: 0.8875 - 90ms/epoch - 811us/step
Epoch 13/100
111/111 - 0s - loss: 0.8650 - department_output_loss: 0.6116 - attrition_output_loss: 0.2535 - department_output_accuracy: 0.7250 - attrition_output_accuracy: 0.8966 - 90ms/epoch - 811us/step
Epoch 14/100
111/111 - 0s - loss: 0.8435 - department_output_loss: 0.5950 - attrition_output_loss: 0.2484 - department_output_accuracy: 0.7314 - attrition_output_accuracy: 0.8975 - 89ms/epoch - 800us/step
Epoch 15/100
111/111 - 0s - loss: 0.8233 - department_output_loss: 0.5865 - attrition_output_loss: 0.2368 - department_output_accuracy: 0.7441 - attrition_output_accuracy: 0.8929 - 88ms/epoch - 793us/step
Epoch 16/100
111/111 - 0s - loss: 0.8018 - department_output_loss: 0.5773 - attrition_output_loss: 0.2245 - department_output_accuracy: 0.7359 - attrition_output_accuracy: 0.9065 - 91ms/epoch - 823us/step
Epoch 17/100
111/111 - 0s - loss: 0.7858 - department_output_loss: 0.5656 - attrition_output_loss: 0.2202 - department_output_accuracy: 0.7396 - attrition_output_accuracy: 0.9056 - 88ms/epoch - 790us/step
Epoch 18/100
111/111 - 0s - loss: 0.7698 - department_output_loss: 0.5571 - attrition_output_loss: 0.2127 - department_output_accuracy: 0.7486 - attrition_output_accuracy: 0.9183 - 90ms/epoch - 810us/step
Epoch 19/100
111/111 - 0s - loss: 0.7416 - department_output_loss: 0.5391 - attrition_output_loss: 0.2026 - department_output_accuracy: 0.7695 - attrition_output_accuracy: 0.9138 - 90ms/epoch - 809us/step
Epoch 20/100
111/111 - 0s - loss: 0.7293 - department_output_loss: 0.5304 - attrition_output_loss: 0.1989 - department_output_accuracy: 0.7641 - attrition_output_accuracy: 0.9156 - 89ms/epoch - 800us/step
Epoch 21/100
111/111 - 0s - loss: 0.7054 - department_output_loss: 0.5198 - attrition_output_loss: 0.1856 - department_output_accuracy: 0.7686 - attrition_output_accuracy: 0.9183 - 87ms/epoch - 785us/step
Epoch 22/100
111/111 - 0s - loss: 0.6935 - department_output_loss: 0.5123 - attrition_output_loss: 0.1813 - department_output_accuracy: 0.7858 - attrition_output_accuracy: 0.9274 - 90ms/epoch - 812us/step
Epoch 23/100
111/111 - 0s - loss: 0.6685 - department_output_loss: 0.4957 - attrition_output_loss: 0.1728 - department_output_accuracy: 0.7940 - attrition_output_accuracy: 0.9265 - 90ms/epoch - 809us/step
Epoch 24/100
111/111 - 0s - loss: 0.6515 - department_output_loss: 0.4839 - attrition_output_loss: 0.1677 - department_output_accuracy: 0.7886 - attrition_output_accuracy: 0.9292 - 86ms/epoch - 779us/step
Epoch 25/100
111/111 - 0s - loss: 0.6457 - department_output_loss: 0.4771 - attrition_output_loss: 0.1686 - department_output_accuracy: 0.7922 - attrition_output_accuracy: 0.9274 - 89ms/epoch - 801us/step
Epoch 26/100
111/111 - 0s - loss: 0.6154 - department_output_loss: 0.4579 - attrition_output_loss: 0.1575 - department_output_accuracy: 0.8058 - attrition_output_accuracy: 0.9310 - 89ms/epoch - 798us/step
Epoch 27/100
111/111 - 0s - loss: 0.5924 - department_output_loss: 0.4461 - attrition_output_loss: 0.1463 - department_output_accuracy: 0.8094 - attrition_output_accuracy: 0.9446 - 88ms/epoch - 793us/step
Epoch 28/100
111/111 - 0s - loss: 0.5737 - department_output_loss: 0.4318 - attrition_output_loss: 0.1419 - department_output_accuracy: 0.8185 - attrition_output_accuracy: 0.9383 - 87ms/epoch - 786us/step
Epoch 29/100
111/111 - 0s - loss: 0.5513 - department_output_loss: 0.4190 - attrition_output_loss: 0.1323 - department_output_accuracy: 0.8249 - attrition_output_accuracy: 0.9456 - 93ms/epoch - 837us/step
Epoch 30/100
111/111 - 0s - loss: 0.5403 - department_output_loss: 0.4107 - attrition_output_loss: 0.1296 - department_output_accuracy: 0.8267 - attrition_output_accuracy: 0.9519 - 85ms/epoch - 770us/step
Epoch 31/100
111/111 - 0s - loss: 0.5401 - department_output_loss: 0.4076 - attrition_output_loss: 0.1325 - department_output_accuracy: 0.8267 - attrition_output_accuracy: 0.9437 - 84ms/epoch - 757us/step
Epoch 32/100
111/111 - 0s - loss: 0.5051 - department_output_loss: 0.3924 - attrition_output_loss: 0.1127 - department_output_accuracy: 0.8367 - attrition_output_accuracy: 0.9564 - 103ms/epoch - 931us/step
Epoch 33/100
111/111 - 0s - loss: 0.5058 - department_output_loss: 0.3862 - attrition_output_loss: 0.1196 - department_output_accuracy: 0.8485 - attrition_output_accuracy: 0.9546 - 86ms/epoch - 776us/step
Epoch 34/100
111/111 - 0s - loss: 0.4725 - department_output_loss: 0.3611 - attrition_output_loss: 0.1114 - department_output_accuracy: 0.8521 - attrition_output_accuracy: 0.9510 - 87ms/epoch - 783us/step
Epoch 35/100
111/111 - 0s - loss: 0.4732 - department_output_loss: 0.3608 - attrition_output_loss: 0.1124 - department_output_accuracy: 0.8494 - attrition_output_accuracy: 0.9610 - 88ms/epoch - 796us/step
Epoch 36/100
111/111 - 0s - loss: 0.4396 - department_output_loss: 0.3430 - attrition_output_loss: 0.0965 - department_output_accuracy: 0.8612 - attrition_output_accuracy: 0.9664 - 88ms/epoch - 796us/step
Epoch 37/100
111/111 - 0s - loss: 0.4305 - department_output_loss: 0.3377 - attrition_output_loss: 0.0927 - department_output_accuracy: 0.8648 - attrition_output_accuracy: 0.9628 - 88ms/epoch - 797us/step
Epoch 38/100
111/111 - 0s - loss: 0.4223 - department_output_loss: 0.3291 - attrition_output_loss: 0.0933 - department_output_accuracy: 0.8766 - attrition_output_accuracy: 0.9637 - 87ms/epoch - 785us/step
Epoch 39/100
111/111 - 0s - loss: 0.3872 - department_output_loss: 0.3010 - attrition_output_loss: 0.0862 - department_output_accuracy: 0.8829 - attrition_output_accuracy: 0.9682 - 87ms/epoch - 788us/step
Epoch 40/100
111/111 - 0s - loss: 0.3934 - department_output_loss: 0.2993 - attrition_output_loss: 0.0942 - department_output_accuracy: 0.8875 - attrition_output_accuracy: 0.9637 - 93ms/epoch - 836us/step
Epoch 41/100
111/111 - 0s - loss: 0.3754 - department_output_loss: 0.2933 - attrition_output_loss: 0.0821 - department_output_accuracy: 0.8748 - attrition_output_accuracy: 0.9710 - 90ms/epoch - 812us/step
Epoch 42/100
111/111 - 0s - loss: 0.3742 - department_output_loss: 0.2891 - attrition_output_loss: 0.0851 - department_output_accuracy: 0.8911 - attrition_output_accuracy: 0.9682 - 90ms/epoch - 813us/step
Epoch 43/100
111/111 - 0s - loss: 0.3441 - department_output_loss: 0.2698 - attrition_output_loss: 0.0743 - department_output_accuracy: 0.8984 - attrition_output_accuracy: 0.9764 - 93ms/epoch - 836us/step
Epoch 44/100
111/111 - 0s - loss: 0.3387 - department_output_loss: 0.2593 - attrition_output_loss: 0.0794 - department_output_accuracy: 0.9102 - attrition_output_accuracy: 0.9728 - 93ms/epoch - 835us/step
Epoch 45/100
111/111 - 0s - loss: 0.3287 - department_output_loss: 0.2603 - attrition_output_loss: 0.0683 - department_output_accuracy: 0.8938 - attrition_output_accuracy: 0.9737 - 91ms/epoch - 823us/step
Epoch 46/100
111/111 - 0s - loss: 0.3118 - department_output_loss: 0.2445 - attrition_output_loss: 0.0674 - department_output_accuracy: 0.9029 - attrition_output_accuracy: 0.9746 - 87ms/epoch - 782us/step
Epoch 47/100
111/111 - 0s - loss: 0.3268 - department_output_loss: 0.2552 - attrition_output_loss: 0.0716 - department_output_accuracy: 0.9011 - attrition_output_accuracy: 0.9728 - 88ms/epoch - 795us/step
Epoch 48/100
111/111 - 0s - loss: 0.2974 - department_output_loss: 0.2300 - attrition_output_loss: 0.0674 - department_output_accuracy: 0.9056 - attrition_output_accuracy: 0.9719 - 88ms/epoch - 793us/step
Epoch 49/100
111/111 - 0s - loss: 0.2783 - department_output_loss: 0.2163 - attrition_output_loss: 0.0621 - department_output_accuracy: 0.9111 - attrition_output_accuracy: 0.9791 - 100ms/epoch - 901us/step
Epoch 50/100
111/111 - 0s - loss: 0.2902 - department_output_loss: 0.2236 - attrition_output_loss: 0.0666 - department_output_accuracy: 0.9165 - attrition_output_accuracy: 0.9755 - 92ms/epoch - 827us/step
Epoch 51/100
111/111 - 0s - loss: 0.2653 - department_output_loss: 0.2045 - attrition_output_loss: 0.0608 - department_output_accuracy: 0.9211 - attrition_output_accuracy: 0.9782 - 88ms/epoch - 793us/step
Epoch 52/100
111/111 - 0s - loss: 0.2511 - department_output_loss: 0.1926 - attrition_output_loss: 0.0585 - department_output_accuracy: 0.9383 - attrition_output_accuracy: 0.9791 - 86ms/epoch - 774us/step
Epoch 53/100
111/111 - 0s - loss: 0.2503 - department_output_loss: 0.1946 - attrition_output_loss: 0.0557 - department_output_accuracy: 0.9247 - attrition_output_accuracy: 0.9800 - 87ms/epoch - 781us/step
Epoch 54/100
111/111 - 0s - loss: 0.2538 - department_output_loss: 0.1911 - attrition_output_loss: 0.0627 - department_output_accuracy: 0.9283 - attrition_output_accuracy: 0.9791 - 87ms/epoch - 784us/step
Epoch 55/100
111/111 - 0s - loss: 0.2504 - department_output_loss: 0.1884 - attrition_output_loss: 0.0619 - department_output_accuracy: 0.9383 - attrition_output_accuracy: 0.9764 - 86ms/epoch - 772us/step
Epoch 56/100
111/111 - 0s - loss: 0.2684 - department_output_loss: 0.2057 - attrition_output_loss: 0.0628 - department_output_accuracy: 0.9156 - attrition_output_accuracy: 0.9737 - 87ms/epoch - 783us/step
Epoch 57/100
111/111 - 0s - loss: 0.2272 - department_output_loss: 0.1737 - attrition_output_loss: 0.0535 - department_output_accuracy: 0.9356 - attrition_output_accuracy: 0.9819 - 87ms/epoch - 784us/step
Epoch 58/100
111/111 - 0s - loss: 0.2152 - department_output_loss: 0.1667 - attrition_output_loss: 0.0485 - department_output_accuracy: 0.9428 - attrition_output_accuracy: 0.9819 - 87ms/epoch - 783us/step
Epoch 59/100
111/111 - 0s - loss: 0.2078 - department_output_loss: 0.1597 - attrition_output_loss: 0.0481 - department_output_accuracy: 0.9410 - attrition_output_accuracy: 0.9800 - 88ms/epoch - 794us/step
Epoch 60/100
111/111 - 0s - loss: 0.1992 - department_output_loss: 0.1533 - attrition_output_loss: 0.0459 - department_output_accuracy: 0.9456 - attrition_output_accuracy: 0.9846 - 87ms/epoch - 782us/step
Epoch 61/100
111/111 - 0s - loss: 0.1986 - department_output_loss: 0.1492 - attrition_output_loss: 0.0494 - department_output_accuracy: 0.9465 - attrition_output_accuracy: 0.9800 - 86ms/epoch - 776us/step
Epoch 62/100
111/111 - 0s - loss: 0.1991 - department_output_loss: 0.1509 - attrition_output_loss: 0.0482 - department_output_accuracy: 0.9446 - attrition_output_accuracy: 0.9819 - 87ms/epoch - 782us/step
Epoch 63/100
111/111 - 0s - loss: 0.1796 - department_output_loss: 0.1331 - attrition_output_loss: 0.0466 - department_output_accuracy: 0.9510 - attrition_output_accuracy: 0.9819 - 86ms/epoch - 774us/step
Epoch 64/100
111/111 - 0s - loss: 0.1893 - department_output_loss: 0.1444 - attrition_output_loss: 0.0450 - department_output_accuracy: 0.9528 - attrition_output_accuracy: 0.9828 - 86ms/epoch - 777us/step
Epoch 65/100
111/111 - 0s - loss: 0.1910 - department_output_loss: 0.1310 - attrition_output_loss: 0.0600 - department_output_accuracy: 0.9555 - attrition_output_accuracy: 0.9800 - 87ms/epoch - 787us/step
Epoch 66/100
111/111 - 0s - loss: 0.2404 - department_output_loss: 0.1578 - attrition_output_loss: 0.0827 - department_output_accuracy: 0.9428 - attrition_output_accuracy: 0.9728 - 85ms/epoch - 763us/step
Epoch 67/100
111/111 - 0s - loss: 0.1928 - department_output_loss: 0.1412 - attrition_output_loss: 0.0516 - department_output_accuracy: 0.9456 - attrition_output_accuracy: 0.9791 - 86ms/epoch - 779us/step
Epoch 68/100
111/111 - 0s - loss: 0.2826 - department_output_loss: 0.1420 - attrition_output_loss: 0.1406 - department_output_accuracy: 0.9483 - attrition_output_accuracy: 0.9655 - 85ms/epoch - 766us/step
Epoch 69/100
111/111 - 0s - loss: 0.2153 - department_output_loss: 0.1542 - attrition_output_loss: 0.0611 - department_output_accuracy: 0.9383 - attrition_output_accuracy: 0.9791 - 110ms/epoch - 992us/step
Epoch 70/100
111/111 - 0s - loss: 0.1762 - department_output_loss: 0.1321 - attrition_output_loss: 0.0441 - department_output_accuracy: 0.9555 - attrition_output_accuracy: 0.9864 - 88ms/epoch - 789us/step
Epoch 71/100
111/111 - 0s - loss: 0.1557 - department_output_loss: 0.1193 - attrition_output_loss: 0.0364 - department_output_accuracy: 0.9601 - attrition_output_accuracy: 0.9873 - 88ms/epoch - 791us/step
Epoch 72/100
111/111 - 0s - loss: 0.1642 - department_output_loss: 0.1210 - attrition_output_loss: 0.0432 - department_output_accuracy: 0.9628 - attrition_output_accuracy: 0.9791 - 88ms/epoch - 795us/step
Epoch 73/100
111/111 - 0s - loss: 0.1398 - department_output_loss: 0.1037 - attrition_output_loss: 0.0361 - department_output_accuracy: 0.9583 - attrition_output_accuracy: 0.9846 - 88ms/epoch - 788us/step
Epoch 74/100
111/111 - 0s - loss: 0.1352 - department_output_loss: 0.0975 - attrition_output_loss: 0.0377 - department_output_accuracy: 0.9682 - attrition_output_accuracy: 0.9873 - 89ms/epoch - 805us/step
Epoch 75/100
111/111 - 0s - loss: 0.1198 - department_output_loss: 0.0858 - attrition_output_loss: 0.0341 - department_output_accuracy: 0.9782 - attrition_output_accuracy: 0.9900 - 87ms/epoch - 787us/step
Epoch 76/100
111/111 - 0s - loss: 0.1322 - department_output_loss: 0.0959 - attrition_output_loss: 0.0363 - department_output_accuracy: 0.9710 - attrition_output_accuracy: 0.9855 - 87ms/epoch - 783us/step
Epoch 77/100
111/111 - 0s - loss: 0.1244 - department_output_loss: 0.0885 - attrition_output_loss: 0.0360 - department_output_accuracy: 0.9728 - attrition_output_accuracy: 0.9855 - 84ms/epoch - 754us/step
Epoch 78/100
111/111 - 0s - loss: 0.1214 - department_output_loss: 0.0901 - attrition_output_loss: 0.0313 - department_output_accuracy: 0.9646 - attrition_output_accuracy: 0.9891 - 85ms/epoch - 766us/step
Epoch 79/100
111/111 - 0s - loss: 0.1229 - department_output_loss: 0.0924 - attrition_output_loss: 0.0305 - department_output_accuracy: 0.9728 - attrition_output_accuracy: 0.9891 - 87ms/epoch - 782us/step
Epoch 80/100
111/111 - 0s - loss: 0.1491 - department_output_loss: 0.1135 - attrition_output_loss: 0.0356 - department_output_accuracy: 0.9583 - attrition_output_accuracy: 0.9828 - 86ms/epoch - 775us/step
Epoch 81/100
111/111 - 0s - loss: 0.1224 - department_output_loss: 0.0898 - attrition_output_loss: 0.0326 - department_output_accuracy: 0.9746 - attrition_output_accuracy: 0.9882 - 88ms/epoch - 788us/step
Epoch 82/100
111/111 - 0s - loss: 0.1296 - department_output_loss: 0.0953 - attrition_output_loss: 0.0343 - department_output_accuracy: 0.9737 - attrition_output_accuracy: 0.9846 - 87ms/epoch - 783us/step
Epoch 83/100
111/111 - 0s - loss: 0.1235 - department_output_loss: 0.0928 - attrition_output_loss: 0.0307 - department_output_accuracy: 0.9719 - attrition_output_accuracy: 0.9891 - 87ms/epoch - 787us/step
Epoch 84/100
111/111 - 0s - loss: 0.1318 - department_output_loss: 0.1022 - attrition_output_loss: 0.0296 - department_output_accuracy: 0.9646 - attrition_output_accuracy: 0.9891 - 88ms/epoch - 789us/step
Epoch 85/100
111/111 - 0s - loss: 0.1371 - department_output_loss: 0.1038 - attrition_output_loss: 0.0333 - department_output_accuracy: 0.9673 - attrition_output_accuracy: 0.9891 - 85ms/epoch - 769us/step
Epoch 86/100
111/111 - 0s - loss: 0.1165 - department_output_loss: 0.0826 - attrition_output_loss: 0.0339 - department_output_accuracy: 0.9682 - attrition_output_accuracy: 0.9855 - 86ms/epoch - 774us/step
Epoch 87/100
111/111 - 0s - loss: 0.1138 - department_output_loss: 0.0803 - attrition_output_loss: 0.0335 - department_output_accuracy: 0.9737 - attrition_output_accuracy: 0.9882 - 87ms/epoch - 784us/step
Epoch 88/100
111/111 - 0s - loss: 0.1060 - department_output_loss: 0.0727 - attrition_output_loss: 0.0333 - department_output_accuracy: 0.9764 - attrition_output_accuracy: 0.9864 - 87ms/epoch - 784us/step
Epoch 89/100
111/111 - 0s - loss: 0.0955 - department_output_loss: 0.0695 - attrition_output_loss: 0.0260 - department_output_accuracy: 0.9764 - attrition_output_accuracy: 0.9900 - 87ms/epoch - 782us/step
Epoch 90/100
111/111 - 0s - loss: 0.0999 - department_output_loss: 0.0715 - attrition_output_loss: 0.0284 - department_output_accuracy: 0.9746 - attrition_output_accuracy: 0.9900 - 86ms/epoch - 779us/step
Epoch 91/100
111/111 - 0s - loss: 0.1013 - department_output_loss: 0.0683 - attrition_output_loss: 0.0330 - department_output_accuracy: 0.9819 - attrition_output_accuracy: 0.9891 - 87ms/epoch - 781us/step
Epoch 92/100
111/111 - 0s - loss: 0.1306 - department_output_loss: 0.0837 - attrition_output_loss: 0.0468 - department_output_accuracy: 0.9710 - attrition_output_accuracy: 0.9800 - 87ms/epoch - 784us/step
Epoch 93/100
111/111 - 0s - loss: 0.2203 - department_output_loss: 0.1595 - attrition_output_loss: 0.0608 - department_output_accuracy: 0.9483 - attrition_output_accuracy: 0.9791 - 89ms/epoch - 802us/step
Epoch 94/100
111/111 - 0s - loss: 0.1325 - department_output_loss: 0.0816 - attrition_output_loss: 0.0508 - department_output_accuracy: 0.9746 - attrition_output_accuracy: 0.9800 - 89ms/epoch - 802us/step
Epoch 95/100
111/111 - 0s - loss: 0.1474 - department_output_loss: 0.0896 - attrition_output_loss: 0.0578 - department_output_accuracy: 0.9691 - attrition_output_accuracy: 0.9819 - 89ms/epoch - 801us/step
Epoch 96/100
111/111 - 0s - loss: 0.1229 - department_output_loss: 0.0665 - attrition_output_loss: 0.0564 - department_output_accuracy: 0.9819 - attrition_output_accuracy: 0.9819 - 90ms/epoch - 806us/step
Epoch 97/100
111/111 - 0s - loss: 0.0982 - department_output_loss: 0.0670 - attrition_output_loss: 0.0312 - department_output_accuracy: 0.9800 - attrition_output_accuracy: 0.9909 - 90ms/epoch - 814us/step
Epoch 98/100

In [17]:
# Evaluate the model with the testing data
loss_accuracy_array = model.evaluate(X_test_scaled, {'department_output': department_encoded_test_df, 'attrition_output': attrition_encoded_test_df}, verbose=2)
loss_accuracy_array

12/12 - 0s - loss: 4.3793 - department_output_loss: 2.7891 - attrition_output_loss: 1.5902 - department_output_accuracy: 0.5679 - attrition_output_accuracy: 0.7853 - 29ms/epoch - 2ms/step

[4.379306793212891,
 2.789116859436035,
 1.5901895761489868,
 0.5679348111152649,
 0.7853260636329651]

In [19]:
# Print the accuracy for both department and attrition
print(f"Departmental Accuracy is: {round(loss_accuracy_array[3]*100,2)}")
print(f"Attrition Accuracy is: {round(loss_accuracy_array[4]*100,2)}")

Departmental Accuracy is: 56.79
Attrition Accuracy is: 78.53

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Accuracy may not be the best measure, since the value counts for Attribtion show that the data is not balanced. There were 1233 'No's for attribtion and only 237 'Yes's. Balanced Accuracy might be a better metric since it would weighted the accuaracy of the positive (Yes) class equally with the negative class.  The same basically applies to Department as well, where human resources value counts were small compared with both Research & Development and Sales. 
2. For both Attrition and Department, I selected softmax over sigmoidal. For department, the output is three levels, so the choice is clear; softmax must be used. It is also consistent with the probabilities for each department should sum up to one, since we are picking between one of the three. I chose softmax for attrition as well. Since the instructions indicated that OneHotEncoding was to be used and that two output columns were to be generated, softmax seemed more correct. Also, we are chosing between two categories, which are mutually exclusive. Thus this is a multiclass problem and not just a multilabel problem.
3. A couple possibilities come to mind for potential improvements:
   A) Lower the number of neurons in the hidden layers. There is evidence of over-fitting, since the training accuaracy for Attrition is 99% but the test accuaracy for Attrition was only 78.5%.  The same is true with training accuaracy for Department being 97.5%, whereas the test accuracy for Department is 56.9%. These maybe clear signs of overfitting.
   B) Decrease the number of layers in the model to help with the overfitting just described.  The model seems fairly complex given the data. My analysis to pick the columns looked at six different classifies (Pipey Analysis...). Models should as Logistic Regression and SVC are much simplier and yet they performed as well or better than this neuro net.
   C) Experiment with different columns. While I used "feature importance" from other models to select the 12 columns I selected, the instructions only said "select at least 10" but did not asked for any analysis to determine the most important features to include.